body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-logo{
    height: 50px;
    width: 50px;
}

.container-logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 30px;
}

.shadow{
    box-shadow: 0 4px 8px rgba(34,34 ,34)
}

.main-container{
    background-color: #679cc7;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container h1{
    margin-top: 40px;

}

.main-container p{
    margin-top: 40px;

}

.main.container span{
    margin-top: 40px;

}

.search{
    margin-top: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

.search input {
    height: 30px;
    width: 500px;
    border-radius: 15px;

}

.search button{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    margin-top: 20px;
    border: none;
    cursor: pointer;

}

.personaje {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.personaje img {
    width: 300px ;
    height: auto;
    padding: 10px;
}
.dark-mode {

    background-color: #121212;
    color:#ffffff;
}


.dark-mode header{
    background-color: #1e1e1e;
}
.dark-mode .main-container{

    background-color: #1e1e1e
}
